.footer
  background-color #b385b1
  &__wrapper
    width 720px
    margin 0 auto
  &__copyright
    margin 0
    padding 20px 0
    font-size 13px
    font-weight bold
.up
  width 40px
  height 40px
  display none
  background url('../img/footer/btn.png') center center no-repeat
  position fixed 
  bottom 50px
  right 50px
  z-index 100
  cursor pointer
  
.map
  display none
  height 500px
  width 800px