.footer
  background-color #b385b1
  &__wrapper
    width 720px
    margin 0 auto
  &__copyright
    margin 0
    padding 20px 0
    font-size 13px
    font-weight bold
#map
  display none
  height 500px
  width 700px