.main
  &__title
    margin 0
    color #000
    font-family 'HelveticaNeueCyr-Roman'
    font-size 21px
    letter-spacing 2px
    padding 20px 0
  &__title--white
    color #fff

.slider
  background url('../img/main/slider/slider-bg.png') no-repeat center center
  background-size cover

  &__title
    padding-top 35px
    margin 0
    font-size 21px
    color #fff
    text-transform uppercase
    letter-spacing 2px

  &__text
    width 310px
    color #fff
    font-size 18px
    line-height 1.2
    margin 0
    margin-top 18px
    padding-bottom 50px

.about
  background-color #fed9f7
  &__text
    margin 0
    padding-bottom 15px
    font-size 17px
    font-weight bold
    letter-spacing 1.1px
    line-height 1.3
  &__images
    margin-top 15px
    // border 1px solid red
    overflow hidden
  &__image
    width 178px
    height 240px
    // border 1px solid red
    float left
    background-size cover

  &__image--massage
    background url('../img/main/about/a1.png') no-repeat
    background-size cover
  &__image--man
    background url('../img/main/about/a2.png') no-repeat
    background-size cover
  &__image--eyebrows
    background url('../img/main/about/a3.png') no-repeat
    background-size cover
  &__image--hair
    background url('../img/main/about/a4.png') no-repeat

.services
  background url('../img/main/services/service-bg.png')
  background-size cover
  &__service
    display inline-block
    // border 1px solid green
    text-decoration none
    margin-right 37px
    margin-bottom 35px
    &:nth-child(4)
      margin-right 0
    &:hover
      box-shadow 10px 15px 15px 1px #fed9f7

  &__image-block
    width 210px
    height 140px


  &__image-block--barbershop
    background url('../img/main/services/s1.png') no-repeat
    background-size cover

  &__image-block--kosmetic
    background url('../img/main/services/s2.png') no-repeat
    background-size cover

  &__image-block--nails
    background url('../img/main/services/s3.png') no-repeat
    background-size cover

  &__image-block--depilation
    background url('../img/main/services/s4.png') no-repeat
    background-size cover

  &__image-block--certificate
    background url('../img/main/services/s5.png') no-repeat
    background-size cover

  &__text-block
    background-color #fff
    padding 10px 0
    font-size 14px
    text-align center
    color #000
    font-weight 900

.contacts
  background-color #fed9f7
  position relative
  &__info
    width 415px
    margin 0
    font-size 17px
    font-weight bold
    letter-spacing 1.1px
    line-height 1.3
  &__adress-info
    margin-left 60px
    font-size 17px
    font-weight bold
    letter-spacing 1.1px
    line-height 1.3
    &:after
      content ' '
      display block
      height 0
      overflow-y hidden
  &__adress
    width 400px
  &__space
    margin-left 30px
