.table-page
  background-color #fed9f7

.bread-crumbs
  margin 0
  padding 15px 0
  list-style none
  &__bread-crumb
    display inline-block
    &:after
      content ">"
      display inline-block
      color #4f1754
      width 20px
      height 20px
      text-align center
    a
      color #4f1754
      font-weight bold

  &__bread-crumb--nounder
    &:after
      display none
    a
      text-decoration none

.serviceCard
  display flex

  &__info
    height 356px
    padding-left 15px
    overflow-y auto
    background-color #fff

  &__title
    font-family 'HelveticaNeueCyr-Roman'
    font-size 18px
    text-transform uppercase

  &__text
    font-size 18px
    padding-right 10px
    margin 0
    margin-top 13px

.table-title
  font-family 'HelveticaNeueCyr-Roman'
  font-size 16px
  letter-spacing 1.4px
  font-weight 700
  margin-left 15px

.table
  font-family 'HelveticaNeueCyr-Roman'
  font-size 16px
  letter-spacing 1.4px
  font-weight 700
  table
    width 100%
    background-color #fec1f3
    margin-bottom 30px
    th
      font-size 16px
      background-color #fff
      padding 10px 0
    .first-col
      width 380px
    .small
      font-size 13px
      padding 10px 8px
    td
      font-size 13px
      background-color #fff
      text-align center
      vertical-align center

      .name
        font-size 16px
        text-align left
        padding-left 15px

      .top
        margin-top 30px
      .clear
        height 27px
      .pad
        padding-bottom 10px
      .clear-dob
        padding-bottom 10px

      .list
        padding-left 35px
        text-align left
      .list-mod
        padding-left 15px
        text-align left

  .manicure
    .manicureP
      margin-top -30px
