header.header
  div.header__wrapper
    div.header__logo
      img(src="img/header/logo.png" alt="logo")
    div.header__info
      div.header__contacts
        p.header__number + 375 (33) 393 44 26
        p.header__number + 375 (29) 171 44 26
      nav.header__main-nav.menu
        ul.header__lists
          li.header__item
            a(href="/").a Главная
          li.header__item
            a(href="/").b О нас
          li.header__item
            a(href="/").c Услуги
          li.header__item
            a(href="/").d Контакты
