include ./blocks/table-mixin.jade
      
main.table-page.depil
  div.content-wrapper
    ul.bread-crumbs.menu
      li.bread-crumbs__bread-crumb
        a(href="/").a Главная
      li.bread-crumbs__bread-crumb
        a(href="/").c Наши услуги
      li.bread-crumbs__bread-crumb.bread-crumbs__bread-crumb--nounder
        a Удаление волос
    +serviceCard("img/depil/card1.png","УДАЛЕНИЕ ВОЛОС","Красивая и гладкая кожа - вот к чему стремится почти каждая женщина.", 'Существует множество методов удаления нежелательных волосков, однако не все способы удаления волос одинаково эффективны. В нашем салоне красоты "Шанталь" мы предлагаем Вам одни из самых надежных и доступных видов эпиляции - восковая эпиляция и эпиляция сахаром (шугаринг).')
    h2.table-title Депиляция воском
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowThree("Бикини","- классическое","- глубокое","","25 р.","30 р.","","40 мин","60 мин")
        +tableRowOne("Подмышек","13 р.","30 мин")
        +tableRowOne("Голени","17 р.","20 мин")
        +tableRowOne("Бедер","18 р.","30 мин")
        +tableRowOne("Предплечья","13 р.","15 мин")
        +tableRowOne("Предплечья+плечи","17 р.","35 мин")
        +tableRowOne("1 зона (верхней губы, подбородка)","7 р.","5 мин")
        +tableRowOne("Живот","9 р.","20 мин")
        +tableRowOne("Ягодиц","14 р.","30 мин")
        
    h2.table-title Шугаринг
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowThree("Бикини","- классическое","- глубокое","","35 р.","38 р.","","40 мин","60 мин")
        +tableRowOne("Подмышек","15 р.","20 мин")
        +tableRowOne("Голени","22 р.","30 мин")
        +tableRowOne("Бедер","23 р.","50 мин")
        +tableRowOne("Подбородка","9 р.","10 мин")
        +tableRowOne("Верхней губы","10 р.","10 мин")
        +tableRowOne("Руки до локтя","15 р.","20 мин")
        +tableRowOne("Руки полностью","20 р.","40 мин")
        +tableRowOne("Живот","12 р.","30 мин")
