include ./blocks/table-mixin.jade
      
main.table-page.depil
  div.content-wrapper
    ul.bread-crumbs.menu
      li.bread-crumbs__bread-crumb
        a(href="/").a Главная
      li.bread-crumbs__bread-crumb
        a(href="/").c Наши услуги
      li.bread-crumbs__bread-crumb.bread-crumbs__bread-crumb--nounder
        a(href="/") Косметологическая программа
    +serviceCard("img/cos/card1.png","КОСМЕТИЧЕСКИЕ ПРОЦЕДУРЫ","С древних времен каждая женщина стремилась познать тайны красоты, стать моложе, краше, и если ранее на помощь слабой половине человечества приходили природные богатства, то сегодня в руках каждой женщины более широкие возможности.", 'Приходите к нам в салон красоты Шанталь. Вас ждет широкая гамма всевозможных лечебных процедур, внимательное обслуживание персонала, оптимальные цены.')
    h2.table-title Массаж
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowOne("Классический массаж лица, шеи и зоны декольте ","30 р.","40 мин")
        +tableRowOne("Лимфодренажный  массаж лица (Данная процедура имеет ярко выраженный косметологический эффект. За счет того, что происходит отток венозной крови и лимфы, вид  кожи заметно улучшается. Кровообращение нормализуется, подкожные структуры подтягиваются, легче воспринимают кислород) ","25 р.","20 мин")
        +tableRowOne("Массаж лица пластический (Пластический омолаживающий массаж - это превосходное средство для профилактики и восстановления не только увядающей кожи лица, но и эффективен при возникновении ранних морщин.)","30 р.","40 мин")
        
    h2.table-title Уходы за лицом
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowOne("Уход за  кожей лица «Совершенство лепестков роз» (укрепление основных функций кожи лица)","35 р.","90 мин.")
        +tableRowFour("Антикуперозный уход за кожей лица","- с кремовой маской","- с таблетированной маской","- с альгинатной маской","","25 р.","27 р.","33 р.","60 мин")
        +tableRowOne("Экспресс-уход за кожей лица «Сияние молодости»","40 р.","80 мин.")
        +tableRowOne("Экспресс-уход за кожей лица «Мгновенное преображение»","35 р.","60 мин.")
        +tableRowOne("Экспресс-уход за  кожей лица «Свежесть»","22 р.","40 мин.")
        
    h2.table-title Чистка лица 
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowOne("Гигиеническая чистка лица Christina «Комодекс» (линия для ухода за проблемной кожей лица)","40 р.","2 часа.")
        +tableRowOne("Чистка лица Premium себорея жирная","40 р.","2 часа.")
        +tableRowOne("Чистка лица Premium акне","45 р.","2 часа.")
        +tableRowOne("Ультразвуковая чистка","30 р.","60 мин.")
        +tableRowOne("Комбинированная чистка","40 р.","2 часа.")
        
    h2.table-title Маски
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowOne("Маска кремовая ","5 р.","20 мин.")
        +tableRowOne("Маска таблетированная с криоконцентратом","10 р.","20 мин.")
        +tableRowOne("Альгинатная по типу кожи","10 р.","20 мин.")
        
    h2.table-title Дополнительные услуги
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowOne("Окраска бровей","8 р.","15 мин.")
        +tableRowOne("Поправка формы бровей","7 р.","15 мин.")
        +tableRowOne("Изменение формы бровей","8 р.","20 мин.")
        +tableRowOne("Окраска ресниц","8 р.","15 мин.")
        +tableRowOne("Снятие наращенных ресниц","13 р.","30 мин.")
        +tableRowOne("Коррекция бровей воском","11 р.","30 мин.")
