include ./blocks/table-mixin.jade

main.table-page.nails
  div.content-wrapper
    ul.bread-crumbs.menu
      li.bread-crumbs__bread-crumb
        a(href="/").a Главная
      li.bread-crumbs__bread-crumb
        a(href="/").c Наши услуги
      li.bread-crumbs__bread-crumb.bread-crumbs__bread-crumb--nounder
        a(href="/") Ногтевая студия
        
    +serviceCard("img/nails/card1.png","НОГТЕВАЯ СТУДИЯ","Красивые и ухоженные руки - это визитная карточка любящей себя женщины. Как не парадоксально, именно руки находятся у всех на виду 24 часа в сутки. Поэтому уход за ними должен быть соответствующим.", "Однако настоящая леди должна быть красива с головы до ног, поэтому так важно уделять внимание своим ножкам и педикюру. Регулярный педикюр сделает ноги не только красивыми, но и здоровыми, ведь в комплекс процедуры входит не только чистка и украшение ногтей (такое мнение является весьма ошибочным), но и уход за кожей всей стопы.")
    h2.table-title Моделирование гелевых ногтей (IBD) на формах
    section.table
      table
        tr
          th.first-col(rowspan="2") Наименование услуги
          th(colspan="2") Стоимость услуги
          th(rowspan="2") Время
        tr
          th.small Наращивание
          th.small Коррекция
        +tableRowTwoServiceOne("Классическое (розовым гелем)","45 р.","35 р.","3 часа / 2 часа 30 мин")
        +tableRowTwoServiceOne("Классическое с гелем камуфляж","48 р.","38 р.","3 часа / 2 часа 30 мин")
        +tableRowTwoServiceOne("Французское (белый свободный край)","48 р.","38 р.","3 часа 30 мин/ 2 часа 30 мин")
        +tableRowTwoServiceOne("Французское с удлинением ногтевого ложа гелем камуфляж","52 р.","42 р.","4 часа / 3 часа")
        +tableRowTwoServiceFour("Аквариумный дизайн:","1 - (слюда, фольга, блестки, с использованием цветных гелей) ","2 - (с удлинением ногтевого ложа, с фоном френч, блестки)","3 - (с удлинением ногтевого ложа, с фоном френч, с прорисовкой кистью узоров)","","50 р.","52 р.","57 р.","","40 р.","42 р.","47 р.","","4 часа / 3 часа")
        
    h2.table-title Наращивание/коррекция длинных ногтей (свыше 10 мм) формы стилет, косой формы + 10% к любому виду наращивания/коррекции
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowThree("Декоративное покрытие:","- 1 страза swarovski","- 1 страза swarovski","","30 коп.","50 коп.")
        +tableRowOne("Дизайн одного ногтя","2 р.","30 мин")
        
    h2.table-title Маникюр, долговременное покрытие гель- лак
    section.table
      table.manicure
        tr
          th.first-col(rowspan="2") Наименование услуги
          th(colspan="2") Стоимость услуги
          th(rowspan="2") Время
        tr
          th IBD
          th Shellac
        +tableRowTwoServiceFour("Покрытие натуральных ногтей гель-лаком","- простое","- френч","- кошачий глаз","23 р.","","","","","19 р.","23 р.","22 р.","","30 мин","45 мин","40 мин")
        +tableRowTwoServiceOne("Снятие гель-лака","7 р.","7 р.","30 мин")
        +tableRowTwoServiceOne("Снятие искусственных ногтей","18 р.","18 р.","30 мин")
        
    h2.table-title Маникюр (China glaze, Star nail)
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Маникюр гигиенический комплекс","-обработка кутикулы, придание формы ногтям","-массаж рук (кисть, предплечье)","-покрытие лаком","19 р.","14 р.","2 р.","3 р.","60 мин")
        +tableRowFour("Мужской маникюр комплекс","-гигиеническая обработка","-полировка ногтей и придание формы","-массаж рук (кисть, предплечье)","19 р. 50 к.","15 р. 50 к.","2 р.","2 р.","60 мин")
        +tableRowOne("Парафинотерапия рук DEPILIVE","13 р.","40 мин")
        
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowOne("Покрытие лаком простое","3 р.","10 мин")
        +tableRowOne("Покрытие лаком простое","1 р.","5 мин")
        +tableRowOne("Подпил ногтей ","3 р.","10 мин")
        +tableRowFour("Ремонт 1 натурального ногтя","-простой ремонт(покрытие гелем надломленного(треснутого)ногтя","сложный ремонт(наращивание части сломанного ногтя ","- сложный ремонт (наращивание всего сломанного ногтя","","3 р.","4 р.","4 р. 50 к.","","10 мин","20 мин","30 мин")
        +tableRowOne("Художественная роспись","18 р.","30 мин")
        
    h2.table-title Педикюр
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowSix("Педикюр классический  комплекс","-обработка пальчиков ног","-обработка ступней лезвием","-обработка ступней скрабом","-массаж ступней ног","-покрытием лаком","27 р.","15 р.","4 р.","3 р.","2 р.","3 р.","1 час 30 мин")
        +tableRowSix("Педикюр комбинированный  комплекс","-обработка пальчиков ног","-обработка ступней лезвием","-обработка ступней скрабом","-массаж ступней ног","-покрытием лаком","32 р.","15 р.","9 р.","3 р.","2 р.","3 р.","1 час 30 мин")
        +tableRowFive("Мужской педикюр классический комплекс","-обработка пальчиков ног","-обработка ступней лезвием","-обработка ступней скрабом","-массаж ступней ног","29 р.","16 р.","6 р. 50 к.","3 р.","3 р. 50 к.","1 час 30 мин")
        +tableRowFive("Мужской педикюр комбинированный комплекс","-обработка пальчиков ног","-обработка ступней фрезой","-обработка ступней скрабом","-массаж ступней ног","32 р. 50 к.","16 р.","10 р.","3 р.","3 р. 50 к.","1 час 30 мин")
        +tableRowOne("Обработка одного вросшего ногтя","4 р. 50 к.","10 мин")
        
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowSix("SPA-педикюр классический (без покрытия лаком) ","-обработка пальчиков ног","-обработка ступней лезвием","-обработка ступней пенкой","-маска увлажняющая","-массаж ступней ног","28 р.","14 р.","4 р. 50 к.","3 р. 50 к.","3 р. 50 к.","2 р. 50 к.","1 час 30 мин")
        +tableRowSix("SPA-педикюр комбинированный (без покрытия лаком)","-обработка пальчиков ног","-обработка ступней лезвием","-обработка ступней пенкой","-маска увлажняющая","-массаж ступней ног","31 р.","14 р.","7 р. 50 к.","3 р. 50 к.","3 р. 50 к.","2 р. 50 к.","1 час 30 мин")
    
    section.table
      table
        tr
          td ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ
          td Стоимость услуги
        tr
          td Подарочный сертификат
          td 2 р.
        tr
          td Педикюрные тапочки в дополнение к услуге
          td 1 р. 50 к.
        tr
          td Пилочка индивидуальная для наращивания ногтей
          td 4 р.
