include ./blocks/table-mixin.jade
      
main.table-page.parik
  div.content-wrapper
    ul.bread-crumbs.menu
      li.bread-crumbs__bread-crumb
        a(href="/").a Главная
      li.bread-crumbs__bread-crumb
        a(href="/").c Наши услуги
      li.bread-crumbs__bread-crumb.bread-crumbs__bread-crumb--nounder
        a(href="/") Парихмехерские услуги
    +serviceCard("img/parik/card1.png","ЖЕНСКИЕ СТРИЖКИ","Все представительницы прекрасной половины на Земле отлично знают, что волосы придают их облику особое звучание, стиль и природную красоту. Правильно подобранная стрижка может превратить в красавицу, а неудачный выбор может испортить ее внешность, сделав незаметной, блеклой или же наоборот вульгарной…", "Опытные мастера салона красоты «Шанталь» всегда готовы поделиться советами и профессиональными рекомендациями по подбору стрижки, уходу за волосами, учитывая образ жизни, стиль и пожелания каждого посетителя.")
    h2.table-title Стрижка  женская
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Стрижка женская модельная комплекс","-короткая длина волос ( длина до 25 см)","-средняя длина волос (длина 25-40 см)","-длинные волосы свыше (длина свыше 40 см)","","22 р.","24 р.","27 р.","","1 час 5 мин","1 час 20 мин","1 час 35 мин")
        +tableRowFour("Укладка волос феном с мытьем и препаратами","-короткая длина волос","-средняя длина волос","-длинные волосы","","17 р","24 р.","27 р.","","40 мин","50 мин","60 мин")
        +tableRowOne("Стрижка челки","7 p.","10 мин")
        +tableRowFour("Стрижка  женская  (без мытья и сушки)","-короткая длина волос","-средняя длина волос","-длинные волосы","","13 р.","14 р.","15 р.","","50 мин","55 мин","60 мин")
        +tableRowFour("Мытье волос","-короткая длина волос","-средняя длина волос","-длинные волосы","","4 р.","4 р. 50 к.","5 р. 50 к.","","5 мин","10 мин","15 мин")
        +tableRowThree("Полировка волос","- средняя длина волос","- длинные волосы","","37 р.","47 р.","","90 мин","120 мин")
        
    +serviceCard("img/parik/card2.png","МУЖСКИЕ СТРИЖКИ","Стрижки на любой длине волос.", "Наши мастера подберут подходящие для вас стиль, цвет и форму стрижки, покажут несколько вариантов укладки дома, при необходимости подлечат волосы и придадут им объем.","Правильно выбранные стрижка и прическа могут творить чудеса: скрыть недостатки внешности, формы головы, лица, подчеркнуть достоинства человека.")
    h2.table-title Стрижка  мужская
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowOne("Мужская стрижка модельная комплекс","19 p.","1 час")
        +tableRowOne("Мужская стрижка простая комплекс","15 p.","40 час")
        +tableRowThree("Стрижка  мужская  (без мытья и сушки)","- модельная","- простая (электромашинкой)","","14 р.","10 р.","","50 мин","30 мин")
        +tableRowOne("Мытье волос +  сушка феном","5 p.","10 мин")
        +tableRowOne("Мужская укладка с препаратами","10 p.","20 мин")
        +tableRowOne("Стрижка бакенбардов, бороды","7 p.","10 мин")
        
    +serviceCard("img/parik/card3.png","Стрижка детская","Детская стрижка должна подходить ребенку, быть несложной и одновременно стильной. ", "Сделать стрижку ребенку не так просто. Ее необходимо выполнить достаточно быстро, пока ребенок не устал от однообразного сидения в кресле и не начал крутиться.","Важно подобрать ребенку такую стрижку, которая не будет нуждаться в укладке.")
    h2.table-title Стрижка  детская
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Стрижка  детская до 10 лет простая (без препаратов, без мытья и сушки)","-короткая длина волос","-средняя длина волос","-длинные волосы","","10 р.","12 р.","13 р.","","20 мин","25 мин","30 мин")
        +tableRowTwo("Стрижка  детская до 10 лет модельная (без препаратов, без мытья и сушки)","-короткая длина волос","","15 р.","","40 мин")
        +tableRowFour("Детское мытье волос +сушка феном","-короткая длина волос","-средняя длина волос","-длинные волосы","","3 р.","4 р.","5 р.","","5 мин","10 мин","10 мин")
        +tableRowThree("Прическа детская  без препаратов: накрутка плойкой, плетение косичек до 10 лет(без украшений, без мытья и сушки)","- простая","- сложная","","11 р.","17 р.","","20 мин","30 мин")
        
    +serviceCard("img/parik/card4.png","ПРИЧЕСКИ",'Прическа влияет на то, как складывается день, а в итоге и жизнь", — говорила шикарная Софи Лорен.', "Стилисты-парикмахеры салона красоты «Шанталь» согласны со звездой Голливуда и готовы сделать Вашу жизнь великолепной!")
    h2.table-title Прически
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Вечерняя  прическа комплекс с препаратами (без украшений)","-короткая длина волос","-средняя длина волос","-длинные волосы","","38 р.","45 р.","50 р.","","1 час 10 мин","1 час 20 мин","1 час 30 мин")
        +tableRowFour("Свадебная прическа комплекс с препаратами (без украшений)","-короткая длина волос","-средняя длина волос","-длинные волосы","","50 р.","60 р.","70 р.","","1 час 30 мин","2 часа","2 час 20 мин")
        +tableRowFour("Плетение волос (без украшений, без мытья и сушки)","-короткая длина волос","-средняя длина волос","-длинные волосы","","23 р.","30 р.","37 р.","","40 мин","60 мин","90 мин")
        +tableRowFour("Накрутка волос плойкой (без украшений, без мытья и сушки)","-короткая длина волос","-средняя длина волос","-длинные волосы","","21 р.","27 р.","33 р.","","40 мин","50 мин","60 мин")
        +tableRowFour("Вытягивание волос по всей длине утюжком с препаратами (без мытья и сушки)","-короткая длина волос","-средняя длина волос","-длинные волосы","","15 р.","21 р.","25 р.","","15 мин","20 мин","30 мин")
        +tableRowOne("Украшение 1 шт.","1 p.","")
        
    +serviceCard("img/parik/card5.png","ИЗМЕНЕНИЕ ЦВЕТА ВОЛОС",'Окрашивание может кардинально изменить женщину. И если успешно подобран цвет и правильно проведена техника покраски, девушки и женщины способны любоваться собой часами, становясь уверенными и готовыми излучать свою женственность.Хотите всегда быть в настроении и нести миру красоту, тогда мы ждем ВАС!!!', "Опытные мастера салона красоты «Шанталь» помогут подобрать цвет и оттенок, обеспечат равномерное прокрашивание волос, не пропустив ни одной прядки.А доступная цена на окрашивание волос делает возможным регулярное проведение процедуры без ущерба для вашего кошелька.")
    h2.table-title Окраска волос Lizap
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Окраска волос по всей длине","-короткая длина волос","-средняя длина волос","-длинные волосы","","41 р.","54 р.","66 р.","","1 час 20 мин","1 час 30 мин","2 часа")
        +tableRowFour("Окраска корней","-короткая длина волос","-средняя длина волос","-длинные волосы","","37 р.","45 р.","55 р.","","1 час 10 мин","1 час 20 мин","1 час 50 мин")
    h2.table-title Окраска волос Salerm
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Окраска волос по всей длине","-короткая длина волос","-средняя длина волос","-длинные волосы","","46 р.","60 р.","75 р.","","1 час 20 мин","1 час 30 мин","2 часа")
        +tableRowFour("Окраска корней","-короткая длина волос","-средняя длина волос","-длинные волосы","","41 р.","50 р.","62 р.","","1 час 10 мин","1 час 20 мин","1 час 50 мин")
    h2.table-title Ампула Cover Gray Salerm – 3руб. 50коп.
    h2.table-title Окраска волос краской клиента без мытья и сушки, без учета расходного материала
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Окраска волос по всей длине","-короткая длина волос","-средняя длина волос","-длинные волосы","","26 р. 20 к.","30 р. 40 к.","34 р. 60 к.","","1 час 20 мин","1 час 30 мин","2 часа")
        +tableRowFour("Окраска корней","-короткая длина волос","-средняя длина волос","-длинные волосы","","24 р. 20 к.","28 р. 40 к.","32 р. 60 к.","","1 час 10 мин","1 час 20 мин","1 час 50 мин")
    h2.table-title Мелирование волос Lizap
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Мелирование волос по всей длине","-короткая длина волос","-средняя длина волос","-длинные волосы","","40 р.","48 р. 50 к.","55 р.","","1 час 20 мин","1 час 30 мин","2 часа")
        +tableRowFour("Прикорневое мелирование","-короткая длина волос","-средняя длина волос","-длинные волосы","","35 р.","41 р.","46 р. 50 к.","","1 час 20 мин","1 час 30 мин","2 часа")
        +tableRowFour("Частичное мелирование волос","-короткая длина волос","-средняя длина волос","-длинные волосы","","13 р.","17 р.","22 р.","","40 мин","50 мин","60 мин")
    h2.table-title Колорирование волос Salerm
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Колорирование волос обесцвечивание +в 2 тона","-короткая длина волос","-средняя длина волос","-длинные волосы","","53 р.","65 р.","87 р.","","2 час 30 мин","2 час 30 мин","3 часа")
        +tableRowFour("Колорирование волос в 3 тона","-короткая длина волос","-средняя длина волос","-длинные волосы","","58 р.","69 р.","87 р.","","2 час 30 мин","2 час 30 мин","3 часа")
    h2.table-title Омбре
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Окраска волос «Омбре»","-короткая длина волос","-средняя длина волос","-длинные волосы","","58 р.","72 р.","100 р.","","1 час","1 час 20 мин","1 час 30 мин")
    h2.table-title Декапаж волос Lizap
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Декапаж волос","-короткая длина волос","-средняя длина волос","-длинные волосы","","26 р. 50 к.","31 р. 50 к.","36 р. 50 к.","","1 час","1 час 20 мин","1 час 30 мин")
    h2.table-title Лечение волос Easy Build LIZAP Италия
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Каутеризация волос","-короткая длина волос","-средняя длина волос","-длинные волосы","","43 р.","50 р.","60 р.","","2 часа","2 час 30 мин","3 часа")
    h2.table-title Шелковое глазирование волос BACO SILK GLAZE
    section.table
      table
        tr
          th.first-col Наименование услуги
          th Стоимость услуги
          th Время
        +tableRowFour("Шелковое глазирование волос","-короткая длина волос","-средняя длина волос","-длинные волосы","","25 р.","30 р.","35 р.","","60 мин","1 час 20 мин","2 часа")
