@import "./normalize/normalize.styl"

/*fonts*/
@import "./fonts/fonts.css"

@import "./blocks/gloabal.styl"

// @import "./blocks/lightbox.css"

@import "./blocks/header.styl"
@import "./blocks/main.styl"
@import "./blocks/table-page.styl"
@import "./blocks/footer.styl"
